{% extends 'base.html' %}
{% load static %}
{% block content %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container px-4 px-lg-5">
            <a class="navbar-brand" href="{% url 'index' %}">Online Shopping</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
                    class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                    <li class="nav-item"><a class="nav-link active" aria-current="page"
                                            href="{% url 'index' %}">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'about' %}">About</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">Categories</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{% url 'index' %}">All Products</a></li>
                            <li>
                                <hr class="dropdown-divider"/>
                            </li>
                            {% for category in categories %}
                                <li><a class="dropdown-item"
                                       href="{% url 'category' category.slug %}">{{ category.title }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                </ul>
                <form class="d-flex" method="get">
                    <input type="text" class="form-contro" name="searching">
                    <button class="btn btn-outline-dark" type="submit">
                        <i class="bi-search-fill me-1"></i>
                        Search

                    </button>
                </form>
            </div>
        </div>
    </nav>
    <!-- Product section-->
    <section class="py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="row gx-4 gx-lg-5 align-items-center">
                {% if product.image %}
                    <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0"
                                               src="{{ product.image.url }}" alt="..."/></div>
                {% endif %}
                <div class="col-md-6">
                    <div class="small mb-1">Quantity: {{ product.quantity }}</div>
                    <h1 class="display-5 fw-bolder">{{ product.name }}</h1>
                    <div class="fs-5 mb-5">
                        {% if product.discount %}
                            <span class="text-decoration-line-through">${{ product.price }}</span>
                            <span>${{ product.discounted_price }}</span>
                        {% else %}
                            <span>${{ product.price }}</span>
                        {% endif %}
                    </div>
                    <p class="lead">{{ product.description }}</p>
                    <div class="d-flex">
                        <form method="post" action="{% url 'add_order' product.slug %}">
                            {% csrf_token %}
                            <div class="form-group">
                                <h2>Place an order</h2>
                            </div>
                            <div class="form-group mb-3">
                                <label for="formGroupExampleInput">Your name</label>
                                <input type="text" class="form-control" placeholder="Enter a name" name="name">
                            </div>
                            <div class="form-group mb-3">
                                <label for="formGroupExampleInput2">Your email</label>
                                <input type="email" class="form-control" placeholder="Enter an email"
                                       name="email">
                            </div>

                            <div class="form-group mb-3">
                                <label for="formGroupExampleInput2">Quantity</label>
                                <input type="number" class="form-control" placeholder="Enter Quantity"
                                       name="quantity">
                            </div>
                            {% if messages %}
                                {% for message in messages %}
                                    <div class="notification {{ message.tags }}"><h2
                                            style="color: #0d6efd">{{ message }}</h2></div>
                                {% endfor %}
                            {% endif %}


                            <div class="form-group mb-3">
                                <button type="submit" class="btn btn-success">Submit</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="container mt-4 mb-4">
        <div class="row">
            {% if product_comments %}
                <div class="col-12">
                <div class="text-center">
                    <h2>Latest comments ( {{ product_comments.count }} )</h2>
                </div>
                {% for com in product_comments %}
                    <div class="media card p-4 mt-2">

                        <div class="media-body">
                            <h3 class="mt-0">{{ com.name }}</h3><a href="mailto: {{ com.email }}">{{ com.email }}</a> =>
                            {{ com.message }}
                        </div>

                    </div>
                {% endfor %}
            {% endif %}
            </div>

            <div class="col-8 offset-2 mt-5">

                <div class=" p-5">
                    <div class="text-center">
                        <h3>Add Comment</h3>
                    </div>

                    <form method="post" action="{% url 'add_comment' product.slug %}">
                        {% csrf_token %}
                        <div class="form-group mb-3">
                            <label for="formGroupExampleInput">Your name</label>
                            <input type="text" class="form-control" placeholder="Enter a name" name="name">
                        </div>
                        <div class="form-group mb-3">
                            <label for="formGroupExampleInput2">Your email</label>
                            <input type="text" class="form-control" placeholder="Enter a email" name="email">
                        </div>

                        <div class="form-group mb-3">
                            <label for="formGroupExampleInput2">Your comment</label>
                            <textarea name="message" class="form-control" id="" cols="30" rows="10"></textarea>
                        </div>

                        <div class="form-group mb-3">

                            <button type="submit" class="btn btn-success">Submit</button>
                        </div>
                    </form>

                </div>

            </div>
        </div>
    </div>
    <!-- Related items section-->
    <section class="py-5 bg-light">
        <div class="container px-4 px-lg-5 mt-5">
            <h2 class="fw-bolder mb-4">Related products</h2>
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                {% for product1 in related_products %}
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            {% if product1.image %}
                                <img class="card-img-top"
                                     src="{{ product1.image.url }}" alt="..."/>
                            {% endif %}
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">{{ product1.name }}</h5>
                                    <!-- Product price-->
                                    {% if product1.discount %}
                                        <span class="text-muted text-decoration-line-through">${{ product1.price }}</span>
                                        ${{ product1.discounted_price }}
                                    {% else %}
                                        ${{ product1.price }}
                                    {% endif %}
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto"
                                                            href="{% url 'details' product1.slug %}">View
                                    product</a></div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
